git-test/package.json
git-test/package-lock.json
.vscode/
git-test/node_modules/
2-Bootstrap/nucampsite/node_modules
2-Bootstrap/nucampsite/package-lock.json
.DS_Store
2-Bootstrap/.DS_Store
Portfolio-Project/node_modules
Code_Now/node_modules
Portfolio-Project/static
React-Tutorial/