#mainContainer {
    margin: 0;
    padding: 0;
}

#logIn {
    border: 1px solid gray;
    margin-left: 15px;
}

#twitch, #bell, #cog, #hamburger{
    color: #fff;
}

#bodyContainer {
    margin-left: 0;
    padding-left: 0;
}

.tarjeta {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* .card {
    margin: 0;
    padding: 0;
} */

/* #mainCard {
    margin: 0;
    padding: 0;
} */


/*Test CSS */
html, body {
    height: 100%
}