/* font-family: 'Caveat', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Work Sans', sans-serif; */


h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
}


@media (min-width: 768px) {}

button:focus {
    outline: none !important;
};