/* font-family: 'Caveat', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Work Sans', sans-serif; */

/* Navbar Components Spacing when Collapsed */
@media (max-width: 768px) {
    #catNav, #blogNav, #aboutNav {
        margin-left: 0 !important;
        padding-left: 0;
    }
    
    #logInButton {
        margin-top: 1rem;
    }

    #signUpButton {
        margin-top: 0.5rem;
    }

}

/* Icon Spacing on SM Viewports */
@media (max-width: 340px) {
    #googleIcon, #appleIcon, #githubIcon, #linkedinIcon {
        margin-right: 0.25rem !important;
    }

    #mainContainer {
        margin: 0;
        padding: 0;
    }

    #card-bg {
        height: 100%;
        width: auto;
        overflow: visible;
    }
}

/* Card on SM+ Viewports */
@media (min-width: 341px) {
    #card-bg {
        max-height: 425px;
        width: auto;
        overflow: hidden;
    }
}



h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
}


.tarjeta {
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-titles {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: large;
}

ul > li > p > a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.navbar {
    background-color: mediumaquamarine;
}
/* #footerContainer {}  In case I want to edit something*/



/* I will keep this commented out for Accessibility Reasons */
/* button:focus {
    outline: none !important;
}; */